#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  margin: 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: auto;
  transition: all 0.3s ease;
}

.swiper-slide:nth-child(2n) {
  width: 40%;
}

.swiper-slide:nth-child(3n) {
  width: 20%;
}

.swiper-slide-active {
  color: #fff;
}

.swiper-slide-active .text {
  opacity: 1;
  margin-top: 20px;
}

.swiper-pagination {
  color: #fff;
  background-color: rgba(130, 130, 130, 0.5);
  backdrop-filter: blur(10px);
  padding: 6px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 40px; /* Need a specific value to work */
  border-radius: 6px;
}

.text {
  position: absolute;
  background-color: rgba(130, 130, 130, 0.5);
  backdrop-filter: blur(20px);
  top: 0;
  font-size: 16px;
  padding: 8px;
  border-radius: 6px;
  margin-top: 10px;
  transition: all 0.3s ease;
  opacity: 0.3;
}
